# This file signifies the code owners for specific files.
# These code owners will be notified and auto-asked for reviews of pull requests
# that change things in files that they own.

requirements*.txt @keebrev
