# Triggers the Github Workflow to increase the version numher and publish an update to the Github Package.

name: DockerHub Deployment

on:
  push:
    branches:
    - release/stable
    - hotfix/docker-pipeline

jobs:
  generate-new-tag:
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.tag_version.outputs.new_tag }}  # Allows publish-package to use the new_tag output.
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'
      - name: Bump version and push tag
        id: tag_version
        uses: anothrNick/github-tag-action@1.34.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch  # If no indicators are found in the commits or the PR, defaults to bumping the right-hand number.
          WITH_V: true  # Adds a `v` in front of the tag
          RELEASE_BRANCH: release/stable
  publish_package:
    runs-on: ubuntu-latest
    needs: generate-new-tag
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: dema-trading-ai/engine:stable, dema-trading-ai/engine:${{ needs.generate-new-tag.outputs.new_tag }}  # Builds a package with the `stable` tag, and another with the version as tag.
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
